<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div id="app">

        <div class="input-style">
            <input type="text"
            placeholder="Cosa devi fare?"
            @keyup.enter="addNewToDo()"
            v-model="newToDo">
            <button @click="addNewToDo()">
                Aggiungi alla lista
            </button>
        </div>

        <ol v-if="toDoList.length > 0">
            <li v-for="(elem, i) in toDoList"
            class="element-list"
            :class=" elem.done == true ? 'line-through' : '' "
            @click="invertDone(i)"> 
                {{ elem.text }}
                <button class="button-style" @click.stop="removeFromToDo(i)" >
                    X
                </button>
            </li>
        </ol>
        <p v-else>
            Non ci sono piu task!
        </p>

        
    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>