/* RESET */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.input-style {
    padding: 30px;
}

.element-list {
    margin-bottom: 20px;
    padding-left: 30px
}

.line-through {
    text-decoration: line-through;
}

.button-style {
    padding: 3px;
    margin-left: 5px;
}